@font-face {
    font-family: 'Anicons Regular';
    src: url('AniconsGX.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Anicons Color';
    src: url('AniconsColorGX.ttf');
    font-weight: normal;
    font-style: normal;
}